.nav-container {
  height: 70px;
  margin-bottom: 0px;
}
.navbar {
  font-family: "Kanit", sans-serif;
  background-color: black;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-toggler {
  background-color: white;
}
.navbar-nav .nav-item {
  text-decoration: none;
}
.navbar-nav .nav-link {
  font-size: 20px;
  margin-left: 50px;
  color: white;
}
.nav-shop {
  font-size: 20px;
  color: white;
}
.item-count {
  background-color: red;
  position: relative;
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 12px;
  top: -40px;
  right: -15px;
}
.fixed-shop {
  position: fixed;
  border: none;
  border-radius: 10px;
  top: 15%;
  right: 0;
  transform: translateY(-50%);
  width: 42.5px;
  height: 34px;
  background-color: black;
  padding: 5px 10px;
  z-index: 100;
}

.item-count {
  color: white;
}
@media (max-width: 768px) {
  .fixed-shop {
    top: 10%;
  }
}
@media (max-width: 576px) {
  .fixed-shop {
    top: 13%;
  }
}
